<!doctype html>
<html lang="en">
<%- include('layouts/header') -%>
<body>
<%- include('layouts/navBar') -%>
<main class="container my-5 py-5">
    <%- include('partials/home/intro') -%>
    <%- include('partials/home/about') -%>
    <h2 class="mb-4 h1">How can I help you?</h2>
    <p class="text-center mb-4 w-75">
        I'm always open to new opportunities. Feel free to contact me anytime. All my work is open source, and you can check out my projects on
        <a href="https://github.com/StephenBrooks714 " class="text-url" target="_blank">GitHub</a>.
    </p>
    <%- include('partials/home/features') -%>
    <%- include('partials/home/projects') -%>
    <%- include('partials/home/contact') -%>
</main>
<%- include('layouts/footer') -%>
</body>
</html>